.member-prv16,
.teamprv-ul {
    text-align: left
}
.right-sidebar .recent,
.teamprv-ul {
    list-style: none
}
.sub-header-banner-cars,
.sub-header-banner-contactus,
.sub-header-banner-media,
.sub-header-banner-sponsors,
.sub-header-banner-teams,
.sub-header-banner-teams15 {
    background-size: cover;
    background-repeat: no-repeat
}
.sub-header {
    height: 350px;
    max-height: 60vh
}
.padding-left-0 {
    padding-left: 0!important
}
.padding-right-0 {
    padding-right: 0!important
}
.team-members-wrapper {
    display: block!important;
    margin-bottom: 10px!important
}
.layer {
    background-color: rgba(0, 0, 0, .6);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}
.first-section {
    margin-top: 20px
}
.sub-header-banner-contactus {
    background-image: url(../../img/general/bgs/contactusbg.png)
}
.sub-header-banner-sponsors {
    background-image: url(../../img/general/bgs/sponsorsbg.png)
}
.sub-header-banner-teams {
    background-image: url(../../img/general/cars/teamsbg.png)
}
.sub-header-banner-cars {
    background-image: url(../../img/general/bgs/carsbg1.png);
     background-position: 0 0px 
   
}
.sub-header-banner-media {
    background-image: url(../../img/general/bgs/mediabg.png)
}
.parallax--banner-1 {
    background-image: url(../../img/general/bgs/supportus_parallaxbanner1.png)
}
.parallax--banner-2 {
    background-image: url(../../img/general/bgs/supportus_parallaxbanner2.png);
    background-position: 0
}
.parallax--banner-cars_1 {
    background-image: url(../../img/general/bgs/carsbg1.png)
}
.parallax--banner-cars_2 {
    background-image: url(../../img/general/bgs/carsbg2.png)
}
.member-prv16 {
    width: 150px;
    height: 50px;
    margin-bottom: 10px;
    padding: inherit;
    vertical-align: middle;
    display: inline-block;
    line-height: 300%;
    background-color: #da072d;
    color: #fff;
    font-weight: 700
}
.team-position {
    color: #868181
}
.right-sidebar .widgetheading {
    border-bottom: #e9e9e9 1px solid;
    padding-bottom: 9px;
    font-weight: 700;
    margin-bottom: 20px
}
.right-sidebar .right-heading a {
    color: #353535;
    display: inline-block
}
.right-sidebar .right-heading {
    display: inline-block;
    padding: 0;
    margin: 0 0 10px;
    font-size: 16px;
    font-weight: 600
}
.right-sidebar a {
    text-decoration: none
}
.right-sidebar a:hover {
    color: red
}
.right-sidebar .right-para {
    color: #656565;
    display: inline-block;
    padding: 0;
    margin: 0 0 10px
}
.right-sidebar .right-img {
    max-width: 100%;
    width: 20%;
    height: auto;
    display: inline-block;
    margin: 0 15px 15px 0;
    vertical-align: middle
}
.right-section .written-material {
    display: inline-block;
    width: 73%;
    vertical-align: middle
}
.brochurediv {
    text-align: center!important;
    display: block;
    margin-bottom: 30px
}
.brochurediv .issuuembed {
    display: inline-block;
    margin-left: auto;
    margin-right: auto
}
@media (max-width: 400px) {
    .member-prv16 {
        width: 120px;
        height: 40px
    }
}
@media(max-width:769px) {
    .teamprv-ul {
        margin-left: auto;
        margin-right: auto;
        display: inline-block
    }
}
.sub-header-banner-teams15 {
    background-position: 0 20px
}
@media (min-width: 769px) {
    .teamprv-ul-first {
        padding-left: 5rem
    }
    .sub-header-banner-teams {
        background-position: -20px -100px;
        background-attachment: fixed;
        background-size: cover!important;
        background-repeat: no-repeat
    }
    .sub-header-banner-sponsors {
        background-position: 0 -300px
    }
    .sub-header-banner-cars {
        background-position: 0 -260px
    }
    .sub-header-banner-teams16 {
        background-position: 0 -200px
    }
    .sub-header-banner-teams15 {
        background-position: 0 -15px
    }
    .sub-header-banner-teams13 {
        background-position: 0 -190px
    }
    .sub-header-banner-teams14 {
        background-position: 0 -140px
    }
    .sub-header-banner-contactus {
        background-position: 0 -250px
    }
    .sub-header-banner-media {
        background-position: 0 -150px
    }
}